.Register-form {
  width: 50%;
  margin: 0 auto;
}
.form-submit input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 40px;
  padding: 4px;
  margin-bottom: 18px;
}
